/* .article_user {
  min-width: 30vh;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 10%;
  border: solid rgb(206, 206, 206) 3px;
  margin: 10px;
  color: rgb(66, 66, 66);
  font-size: 16px;
} */

.article_user {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10%;
  border: solid rgb(206, 206, 206) 3px;
  margin: 10px;
  color: rgb(66, 66, 66);
  font-size: 16px;
}

h4{
  font-size: 20px;
  color: rgb(255, 60, 0);
}

.article_info{
  padding: 5vh
}
.article_user a:link {
  text-decoration: none;
}

.article_user a:visited {
  text-decoration: none;
  color: #777777;

}

.article_user a:hover {
  text-decoration: underline;
  color:#424242;

}

 .article_user a:active {
  text-decoration: underline;
}




