.content{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-content: center;
  justify-content: center;
  padding: 1vh 4vh 4vh 4vh
} 

.article_card {
  display: flex;
  flex-direction: column;
  /* max-width: 100vh; */
  justify-content: center;
  padding: 0.1vh;
  border-radius: 10%;
  margin: 0.1vh;
  color: rgb(66, 66, 66);
  border: solid #cccccc 6px;
}

.article_card:hover {
    border: solid  rgba(255,192,203,0.6) 6px;

}


.article_title{
  display: flex;
  justify-content: center;
  font-size: 2vh;

}

.card_data p {
  padding: 0.1vh;
  color:grey;
  font-size: 1.5vh;
}


.card_data {
  display: flex;
  justify-content: center;
  border-top: rgb(177, 177, 177) solid 1px;
  padding-top: 5px;
  margin-top: 5px;
}


.user {
  font-weight: bold;
}

.author {
  color: grey;
  font-size: 16px

}