footer {
color: #e6e6e6;
border-top:#cccccc 5px solid;
background-color:#35424a;
margin: 0px 0px 10px 0px;
padding: 10px;
min-height: 4vh;
}

footer a:hover{
 color:#cccccc;
}

.home{
 color:#e6e6e6;
 font-size: 32px;
 text-decoration: none;
 padding:4vh;
}
