

h3{
  padding: 9px
}

.buttonParrent{
  padding: 3px;
  text-align: center;
}

.button {
  transition-duration: 0.4s;
  background-color: 333;
  border: 2px solid #e8491d;
  align-content: center;
  padding: 3px;

}

.button:hover {
  background-color: #e8491d; 
  color: white;
}