.navigation{
  background:#35424a;
  color:#ffffff;
  padding:10px 10px 10px 10px;
  min-height:5px;
  border-bottom:#e8491d 3px solid;
  text-align: center;

 }

 .navigation a:hover{
  color:#cccccc;
}


  .topics{
   color:#e6e6e6;
   font-size: 16px;
   text-decoration: none;
   padding:5px;
  }

  .users-button{
   color:#e6e6e6;
   font-size: 16px;
   text-decoration: none;
   padding:5px;
 }
