

.navBar{
 display: flex;
 flex-direction: row;
 align-content: center;
 background: #e6e6e6;
 width: 100%;
 height: 4vh;
 border-bottom:#cccccc 5px solid;
 border-top:#cccccc 5px solid;
}


 .button{
  color: #35424a;
  font-size: 16px;
  text-decoration: none;
  padding: 1vh 1vh 1vh 1vh;
  text-transform: capitalize;

 }

  .topics{
  color: #35424a;
  font-size: 16px;
  text-decoration: none;
  padding: 1vh 0vh 1vh 2vh;
  color: rgb(255, 60, 0);
 }


.button a:link {
  text-decoration: none;
}

.button a:visited {
  text-decoration: none;
  color: #35424a;

}

.button a:hover {
  text-decoration: underline;
  color:#0a0c0e;

}

 .button a:active {
  text-decoration: underline;
}


