.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(241, 241, 241);
  overflow: hidden;
  width: 100%;
  justify-content: center

}

.content{
  display: flex;
  flex-direction: column;
  width: 50%;
  text-decoration: none;
  align-content: center;
  justify-content: center;
  padding: 1vh 4vh 4vh 4vh
} 